@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*   {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.banner {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #130e23;
    overflow: hidden;
}

.text   {
    position: relative;
    text-align: center;
    color: #00cefe;
    margin: 40px;
    max-width: 650px;
}

.text span  {
    position: relative;
    display: inline-block; 
}